@import url('http://fonts.cdnfonts.com/css/fontype-rounded');
  *,
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    outline: none;
    box-sizing: border-box;
    font-family: Fontype Rounded
  }
  a {
    text-decoration: none;
  }
  li,
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :root{
    --white:white;
    --background: #1B1D36;
  }